policy_module(javabridge_tomcat,3.1.7)

########################################
#
# Declarations
#

########################################
#
# javabridge local policy
#
gen_require(`
	type httpd_t, http_cache_port_t;
')

allow httpd_t http_cache_port_t:tcp_socket name_connect;

