.idea/
.gradle/
.projectKnowledge/
build/
dist/
bin/
lib/
doc/API/
.classpath
nbproject/
nbbuild.xml
.nb-gradle/
.nb-gradle-properties
manifest.mf
*.iml
*.lock
*.log
devNull
src/main/java/io/soluble/pjb/bridge/JavaInc.java
src/main/java/io/soluble/pjb/bridge/JavaProxy.java
src/main/java/io/soluble/pjb/bridge/LauncherUnix.java
src/main/java/io/soluble/pjb/bridge/LauncherWindows.java
src/main/java/io/soluble/pjb/bridge/LauncherWindows2.java
src/main/java/io/soluble/pjb/bridge/LauncherWindows3.java
src/main/java/io/soluble/pjb/bridge/LauncherWindows4.java
src/main/resources/META-INF/java/Java.inc
src/main/resources/META-INF/java/JavaProxy.php
src/main/webapp/java/Java.inc
src/main/webapp/java/JavaProxy.php
