.idea/
*.iml
*.lock
dist/
bin/
nbproject/
doc/API/
.classpath/
.projectKnowledge/
/server/META-INF/java/JavaProxy.php
/server/META-INF/java/Java.inc
/server/php/java/bridge/JavaProxy.java
/server/php/java/bridge/LauncherWindows.java
/server/php/java/bridge/LauncherWindows2.java
/server/php/java/bridge/LauncherWindows3.java
/server/php/java/bridge/LauncherUnix.java
/server/php/java/bridge/JavaInc.java
/server/php/java/bridge/LauncherWindows4.java
/server/php/java/bridge/PhpDebuggerPHP.java
