.idea/
.gradle/
.projectKnowledge/
build/
dist/
bin/
lib/
nbproject/
doc/API/
META-INF/java/JavaProxy.php
META-INF/java/Java.inc
bridge/JavaProxy.java
bridge/LauncherWindows.java
bridge/LauncherWindows2.java
bridge/LauncherWindows3.java
bridge/LauncherUnix.java
bridge/JavaInc.java
bridge/LauncherWindows4.java
bridge/PhpDebuggerPHP.java
.classpath
nbbuild.xml
manifest.mf
*.iml
*.lock
*.log
